
    <div class="left">
        <div class="lefttransdiv" routerLink="/jobsmngmnt"><span class="leftclipjob"></span>Job Management<span class="jobcount">0</span></div>
        <div class="lefttransdiv" routerLink="/timesheetmngmnt"><span class="leftcliptime"></span>Timesheet Management<span class="jobcount">0</span></div>
        <div class="lefttransdiv" routerLink="/leavemngmnt"><span class="leftclipleave"></span>Leave Management<span class="jobcount">0</span></div>
    </div>
    <div class="homerightmaindiv">
        <div class="hometimesheetheader"><h5 style="margin:0px;">Timesheet Details</h5></div>
        <div class="activitieslist">
            <ul style="list-style-type:none;">
              <li><a><strong>Submitted<span class ="userstats" style="background-color: #ffbf00">20</span></strong></a></li>
              <li><a><strong>Approved<span class ="userstats" style="background-color: #132d1a">10</span></strong></a></li>
              <li><a><strong>Rejected<span class ="userstats" style="background-color: #b91a1a">5</span></strong></a></li>
              <li><a><strong>Days not submitted<span class ="userstats" style="background-color: cadetblue">5</span></strong></a></li>
              <li><a><strong>Chargeability<span class ="userstats" style="background-color: #6b6d29">5</span></strong></a></li>
            </ul>
        </div>
    </div>