<!--The content below is only a placeholder and can be replaced.-->

<div style="padding:2px;height:100%;min-width:520px">
        <div class="homeheader">
          <div class="logo"></div>
          <div class="homeuser">
            <div class="userName">Aayush Tibrewal </div>
            <div class="user"></div>
          </div>
        </div>
        <div class="horizontalline"></div>
        <div class="mainhomecontent">
            <div class="navbarr">
                <span class="navlink" routerLink="home">Dashboard</span>
                <span class="navlink" routerLink="employees">Employees</span>
                <span class="navlink" routerLink="jobsmngmnt">Job</span>
                <span class="navlink" routerLink="timesheetmngmnt">Timesheet</span>
                <span class="navlink" routerLink="leavemngmnt">Leave</span>
            </div>
            <router-outlet></router-outlet>
        </div>
      </div>
      
      
      